<%- include('partials/start') %>

<%- include('partials/sidebar') %>

  <div class="main-container">

    <%- include('partials/topbar') %>

    <div class="download-section">
      <div class="laptop-image">
        <img src="../../public/img/laptop.png" alt="Spotify Preview on Laptop">
      </div>
      <div class="cta-text">
        <h1>Seamlessly listen to music you love.</h1>
        <p>Download the Spotify app for your computer.</p>
        <button class="download-btn">Get our free app</button>
      </div>
    </div>

    <%- include('partials/preview') %>
  </div>

<%- include('partials/end') %>
